<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PostSharp.Diagnostics.Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup />
  <applicationSettings>
    <PostSharp.Diagnostics.Launcher.Properties.Settings>
      <setting name="MailFrom" serializeAs="String">
        <value>
          submit-issue@postsharp.org
        </value>
      </setting>
      <setting name="MailTo" serializeAs="String">
        <value>
          submit-issue@postsharp.org
        </value>
      </setting>
      <setting name="SmtpTimeout" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="SmtpSsl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SmtpServer" serializeAs="String">
        <value>aspmx.l.google.com</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>25</value>
      </setting>
    </PostSharp.Diagnostics.Launcher.Properties.Settings>
  </applicationSettings>
</configuration>