<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Test"
			 connectionString="Data Source=(local);initial catalog=Test;Integrated Security=SSPI"/>
		<add name="Northwind"
			 connectionString="Data Source=(local);initial catalog=Northwind;Integrated Security=SSPI"/>
	</connectionStrings>
</configuration>