<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <configSections>
    <section name="analyticsConfigurationSection" type="WhoCanHelpMe.Infrastructure.Analytics.Configuration.AnalyticsConfigurationSection"/>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler,dotless.Core, Version=1.0.0.3, Culture=neutral" />
    <section name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" requirePermission="false" allowLocation="true" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <section name="newsConfigurationSection" type="WhoCanHelpMe.Infrastructure.News.Configuration.NewsConfigurationSection, WhoCanHelpMe.Infrastructure"/>
    <section name="resourceVersioning" type="Cadenza.Web.ResourceVersioning.Configuration.ResourceVersioningProviderConfigurationSection, Cadenza.Web.ResourceVersioning" />
    <section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark" />
  </configSections>
  
  <appSettings>
    <add key="showCustomErrorPages" value="false" />
  </appSettings>

  <analyticsConfigurationSection analyticsIdentifier="YOUR-GOOGLE-ANALYTICS-ID-GOES-HERE" 
                                 siteVerification="YOUR-GOOGLE-SITE-VERIFICATION-ID-GOES-HERE"
                                 xmlns="http://schemas.who-can-help.me/analytics/configuration"/>
  
  <castle>
    <include uri="file://Configuration/Container.Components.config" />
  </castle>

  <connectionStrings>
    <add name="Data" connectionString="Data Source=.;Initial Catalog=WhoCanHelpMe;Integrated Security=True;Application Name=MyBenchpeg;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <dotless cacheEnabled="true" minifyCss="true" />
  <elmah>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/Logs" />
  </elmah>

  <log4net>
		<appender name="LogToFile" type="log4net.Appender.FileAppender">
			<file value="../../logs/Northwind.Web.log" />
			<appendToFile value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5l - %m%n%n" />
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5l - %m%n%n" />
			</layout>
		</appender>
		<root>
			<!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
			<priority value="OFF" />
			<appender-ref ref="LogToFile" />
		</root>
	</log4net>

  <newsConfigurationSection noOfBuzzHeadlines="7" noOfDevTeamHeadlines="7" searchTimeoutSeconds="10" xmlns="http://schemas.who-can-help.me/news/configuration">
    <buzzHeadlineTags>
      <searchTag name="#sharparchitecture"/>
      <searchTag name="#sharparch"/>
      <searchTag name="#mvc"/>
      <searchTag name="#mvccontrib"/>
      <searchTag name="#nhibernate"/>
      <searchTag name="#ioc"/>
      <searchTag name="#automapper"/>
      <searchTag name="#elmah"/>
      <searchTag name="#log4net"/>
      <searchTag name="#bdd"/>
      <searchTag name="#mspec"/>
      <searchTag name="#mef"/>
      <searchTag name="#postsharp"/>
      <searchTag name="#rhinomocks"/>
      <searchTag name="#spark"/>
      <searchTag name="#xval"/>
      <searchTag name="#wchm"/>
    </buzzHeadlineTags>
    <devTeamHeadlineTags>
      <searchTag name="HowardvRooijen"/>
      <searchTag name="jon_george1"/>
      <searchTag name="broomej"/>
    </devTeamHeadlineTags>
  </newsConfigurationSection>
  
  <resourceVersioning default="assemblyVersion" enabled="true">
    <providers>
      <add name="assemblyVersion" extensionsToVersion=".js,.css,.less" assemblyName="WhoCanHelpMe.Web" type="Cadenza.Web.ResourceVersioning.AssemblyBasedResourceVersioningProvider, Cadenza.Web.ResourceVersioning" />
    </providers>
  </resourceVersioning>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/User/Login" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    
		<httpHandlers>
      <add verb="*" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add verb="*" path="*.LESS" type="dotless.Core.LessCssHttpHandler,dotless.Core" validate="false" />
		</httpHandlers>
    
		<httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ResourceNameRewritingModule" type="Cadenza.Web.ResourceVersioning.ResourceVersioningModule, Cadenza.Web.ResourceVersioning" />
		</httpModules>
    
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ResourceNameRewritingModule" type="Cadenza.Web.ResourceVersioning.ResourceVersioningModule, Cadenza.Web.ResourceVersioning" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </modules>
    <handlers>
      <add name="DotLessCss" verb="*" path="*.less" type="dotless.Core.LessCssHttpHandler,dotless.Core" />
      <add name="Elmah" verb="*" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.4000" newVersion="2.1.2.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>

