<?xml version="1.0" encoding="utf-8"?>

<Configuration xmlns="http://schemas.postsharp.org/1.0/configuration" xmlns:bind="urn:schemas-microsoft-com:asm.v1">

  <!-- List of phases of the post-compilation process -->
  <Phases>
    <Phase Name="Load" Ordinal="10" />
    <Phase Name="Analyze" Ordinal="20" />
    <Phase Name="Transform" Ordinal="30" />
    <Phase Name="Generate" Ordinal="40" />
  </Phases>

  <!-- Standard properties -->
  <Property Name="PlugInDirectory" Value="{$PostSharpDirectory}\..\PlugIns" />
  <Property Name="UserPlugInDirectory" Value="{$ApplicationDataDirectory}\PostSharp 2.0\PlugIns" />
  <Property Name="ResolvedReferences" Value="" Overwrite="false" />

  <!-- Include standard plug-in directories in the search path -->
  <SearchPath Directory="{$PlugInDirectory}" />
  <SearchPath Directory="{$UserPlugInDirectory}" />
  <SearchPath File="{$ResolvedReferences}" />

  <!-- Standard tasks -->
  <TaskType Name="Compile" Phase="Generate" Implementation="PostSharp.Sdk.Extensibility.Tasks.CompileTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" />

  <TaskType Name="Verify" Phase="Generate" Implementation="PostSharp.Sdk.Extensibility.Tasks.VerifyTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7">
    <Dependency TaskType="Compile" Required="false" />
  </TaskType>

  <TaskType Name="MulticastAttribute" Phase="Analyze" Implementation="PostSharp.Sdk.Extensibility.Tasks.MulticastAttributeTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7">
    <Dependency TaskType="AnnotationRepository" />
  </TaskType>

  <TaskType Name="AnnotationRepository" Phase="Analyze" Implementation="PostSharp.Sdk.Extensibility.Tasks.AnnotationRepositoryTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7">
    <Dependency TaskType="ModuleAnnotationProvider" />
    <Dependency TaskType="TypeHierarchyAnalysis" />
    <Dependency TaskType="IndexGenericInstances" />
  </TaskType>

  <TaskType Name="AutoDetect" Phase="Analyze" Implementation="PostSharp.Sdk.Extensibility.Tasks.AutoDetectTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7">
    <Dependency TaskType="AnnotationRepository" />
    <Dependency TaskType="MulticastAttribute" />
    <Dependency TaskType="Globals" />
    <Dependency TaskType="DisableMessages" />
  </TaskType>

  <TaskType Name="ModuleAnnotationProvider" Implementation="PostSharp.Sdk.Extensibility.Tasks.ModuleAnnotationProvider, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" />

  <TaskType Name="TypeHierarchyAnalysis" Phase="Analyze" Implementation="PostSharp.Sdk.Extensibility.Tasks.TypeHierarchyTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" />

  <TaskType Name="IndexGenericInstances" Phase="Analyze" Implementation="PostSharp.Sdk.Extensibility.Tasks.IndexGenericInstancesTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" />

  <TaskType Name="IndexTypeDefMemberRefs" Phase="Analyze" Implementation="PostSharp.Sdk.Extensibility.Tasks.IndexTypeDefMemberRefsTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" />

  <TaskType Name="IndexUsages" Phase="Analyze" Implementation="PostSharp.Sdk.Extensibility.Tasks.IndexUsagesTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" />

  <TaskType Name="CodeWeaver" Phase="Transform" Implementation="PostSharp.Sdk.CodeWeaver.WeaverTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7">
    <Dependency TaskType="IndexUsages" />
    <Dependency TaskType="ImplementationBoundAttributes" />
    <Dependency TaskType="IndexTypeDefMemberRefs" />
  </TaskType>

  <TaskType Name="Remove" Phase="Generate" Implementation="PostSharp.Sdk.Extensibility.Tasks.RemoveTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7">
    <Dependency TaskType="Compile" Position="After" />
  </TaskType>

  <TaskType Name="Globals" Phase="Analyze" Implementation="PostSharp.Sdk.Extensibility.Tasks.GlobalsTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" />

  <TaskType Name="ImplementationBoundAttributes" Phase="Analyze" Implementation="PostSharp.Sdk.Extensibility.Tasks.ImplementationBoundAttributesTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7">
    <Dependency TaskType="AnnotationRepository" />
  </TaskType>

  <TaskType Name="DisableMessages" Phase="Load" Implementation="PostSharp.Sdk.Extensibility.Tasks.DisableMessagesTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" />

  <TaskType Name="WriteWeavingSymbols" Phase="Generate" Implementation="PostSharp.Sdk.WeavingSymbols.WriteWeavingSymbolsTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7"></TaskType>

  <TaskType Name="Watermark" Phase="Transform" Implementation="PostSharp.Sdk.Extensibility.Tasks.WatermarkTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" />

  <TaskType Name="ValidateAnnotations" Phase="Analyze" Implementation="PostSharp.Sdk.Extensibility.Tasks.ValidateAnnotationsTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7">
    <Dependency TaskType="AnnotationRepository" />
  </TaskType>

  <TaskType Name="AspectInfrastructure" Phase="Transform" Implementation="PostSharp.Sdk.AspectInfrastructure.AspectInfrastructureTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7">
    <Dependency TaskType="CodeWeaver" Position="After" Required="false" />
    <Dependency TaskType="AspectInfrastructure.SerializationHook" />
    <Dependency TaskType="ImplementationBoundAttributes" />
  </TaskType>

  <TaskType Name="AspectInfrastructure.SerializationHook" Implementation="PostSharp.Sdk.AspectInfrastructure.Events.SerializationHook, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" />

  <TaskType Name="AspectWeaver" Implementation="PostSharp.Sdk.AspectWeaver.AspectWeaverTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" Phase="Transform">
    <Dependency TaskType="AspectInfrastructure" Position="After" />
    <Dependency TaskType="Remove" Position="After" />
    <Dependency TaskType="AnnotationRepository" />
    <Dependency TaskType="MulticastAttribute" />
    <Dependency TaskType="IndexUsages" />
    <Dependency TaskType="PostSharp.Aspects.BuiltInAspectWeaverPlugIn" />
    <Dependency TaskType="PostSharp.Aspects.FallbackAspectWeaverPlugIn1" />
    <Dependency TaskType="PostSharp.Aspects.FallbackAspectWeaverPlugIn2" />
    <Dependency TaskType="CodeWeaver" Position="After" Required="false" />
  </TaskType>
  <TaskType Name="AdviceAnalyzer" Implementation="PostSharp.Sdk.AspectWeaver.AdviceAnalyzerTask, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" Phase="Analyze">
    <Dependency TaskType="IndexUsages" />
    <Dependency TaskType="PostSharp.Aspects.BuiltInAspectWeaverPlugIn" />
  </TaskType>
  <TaskType Name="PostSharp.Aspects.BuiltInAspectWeaverPlugIn" Implementation="PostSharp.Sdk.AspectWeaver.BuiltInAspectWeaverPlugIn, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" />
  <TaskType Name="PostSharp.Aspects.FallbackAspectWeaverPlugIn1" Implementation="PostSharp.Sdk.AspectWeaver.FallbackAspectWeaverPlugIn1, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" />
  <TaskType Name="PostSharp.Aspects.FallbackAspectWeaverPlugIn2" Implementation="PostSharp.Sdk.AspectWeaver.FallbackAspectWeaverPlugIn2, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" />
  
  
  <!-- Standard platforms -->
  <Platform Name="net-2.0" Implementation="PostSharp.Hosting.DotNet.DotNet20TargetPlatformAdapter, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7" />

  <Platform Name="mono-2.0" Implementation="PostSharp.Hosting.Mono.Mono20TargetPlatformAdapter, PostSharp.Sdk, PublicKeyToken=b13fd38b8f9c99d7">
    <Parameters>
      <!-- You may want to adjust the following settings to match your environment. -->
      <Parameter Name="IlasmPath" Value="ilasm2" />
    </Parameters>
  </Platform>

  <AssemblyBindingPolicySet Name="CompactFramework20">

    <ReflectionPolicies>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bind:bindingRedirect newName="PostSharp.CF" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="mscorlib" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Messaging" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Windows.Forms.DataGrid" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" newName="System.Windows.Forms" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" />
      </bind:dependentAssembly>
    </ReflectionPolicies>
  </AssemblyBindingPolicySet>

  <AssemblyBindingPolicySet Name="CompactFramework35">
    <Policies>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="*" publicKeyToken="969db8053d3322ac" />
        <bind:bindingRedirect oldVersion="2.0" newVersion="3.5" />
      </bind:dependentAssembly>
    </Policies>
    <ReflectionPolicies>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bind:bindingRedirect newName="PostSharp.CF" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="mscorlib" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" newVersion="3.5" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" newVersion="3.5" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" newVersion="3.5" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" newVersion="3.5" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Messaging" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" newVersion="3.5" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" newVersion="3.5" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" newVersion="3.5" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect newPublicKeyToken="969db8053d3322ac" newVersion="3.5" />
      </bind:dependentAssembly>
    </ReflectionPolicies>
  </AssemblyBindingPolicySet>

  <AssemblyBindingPolicySet Name="Silverlight20">
    <ReflectionPolicies>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bind:bindingRedirect newName="PostSharp.SL" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="mscorlib" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect oldVersion="2.0.0.0" newPublicKeyToken="7cec85d7bea7798e" newVersion="2.0.5.0" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect oldVersion="2.0.0.0" newPublicKeyToken="7cec85d7bea7798e" newVersion="2.0.5.0" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect oldVersion="2.0.0.0" newPublicKeyToken="7cec85d7bea7798e" newVersion="2.0.5.0" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Net" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect oldVersion="2.0.0.0" newPublicKeyToken="7cec85d7bea7798e" newVersion="2.0.5.0" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect oldVersion="2.0.0.0" newPublicKeyToken="7cec85d7bea7798e" newVersion="2.0.5.0" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Windows" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bind:bindingRedirect oldVersion="3.0.0.0" newPublicKeyToken="7cec85d7bea7798e" newName="PresentationFramework" newVersion="2.0.5.0" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Windows.Browser" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bind:bindingRedirect oldVersion="3.0.0.0" newPublicKeyToken="7cec85d7bea7798e" newName="PresentationFramework" newVersion="2.0.5.0" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect oldVersion="2.0.0.0" newPublicKeyToken="7cec85d7bea7798e" newVersion="2.0.5.0" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect oldVersion="3.0.0.0" newPublicKeyToken="7cec85d7bea7798e" newVersion="2.0.5.0" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.ServiceModel.Web" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bind:bindingRedirect oldVersion="3.0.5.0" newPublicKeyToken="7cec85d7bea7798e" newVersion="2.0.5.0" />
      </bind:dependentAssembly>
      <bind:dependentAssembly>
        <bind:assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bind:bindingRedirect oldVersion="3.0.0.0" newPublicKeyToken="7cec85d7bea7798e" newVersion="2.0.5.0" />
      </bind:dependentAssembly>
    </ReflectionPolicies>
  </AssemblyBindingPolicySet>


</Configuration>