<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="PostSharp.User.Properties.Settings.FeedbackConnectionString" connectionString="Data Source=tygr;Initial Catalog=Feedback;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>