<#@ include file="ConfigurationSectionDesignerSchema.tt" #>
<#@ ConfigurationSectionDesigner processor="ConfigurationSectionDesignerDirectiveProcessor" requires="fileName='NewsConfigurationSection.csd'" #>