<configuration>
  <components>
    <component id="VelocityNamedCachingService"
               service="WhoCanHelpMe.Framework.Caching.ICachingService, WhoCanHelpMe.Framework"
               type="WhoCanHelpMe.Infrastructure.Caching.HttpCachingService, WhoCanHelpMe.Infrastructure"
               lifestyle="singleton">
      <parameters>
        <enabled>true</enabled>
        <cacheDurations>
          <dictionary>
            <item key="VeryShort">60</item>
            <item key="Short">120</item>
            <item key="Medium">300</item>
            <item key="Long">10800</item>
            <item key="Permanent">86400</item>
          </dictionary>
        </cacheDurations>
        <caches>
          <dictionary>
            <item key="AdHoc">Medium</item>
            <item key="MvcTempData">Short</item>
          </dictionary>
        </caches>
      </parameters>
    </component>
  </components>
</configuration>
