<#@ include file="ConfigurationSectionDesignerCode.tt" #>
<#@ ConfigurationSectionDesigner processor="ConfigurationSectionDesignerDirectiveProcessor" requires="fileName='AnalyticsConfigurationSection.csd'" #>