<#@ include file="ConfigurationSectionDesignerSample.tt" #>
<#@ ConfigurationSectionDesigner processor="ConfigurationSectionDesignerDirectiveProcessor" requires="fileName='AnalyticsConfigurationSection.csd'" #>